@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#nav {
    background-color: #000000;
    padding-top: 8px;
    padding-bottom: 8px;
    backdrop-filter: blur(6px);
    box-shadow: 0 8px 35px 0 rgba(0, 0, 0, 0.37);
    font-family: 'Poppins', sans-serif;
}

#nav ul li {
    list-style: none;
    display: inline;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

#nav ul#menu li {
    float: left;
    border-radius: 8px;
}
#nav ul.right li {
    float: right;
}

.clearfix::before,
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

#nav ul li a {
    padding-left: 10px;
    padding-right: 10px;
    color: rgb(71, 163, 190);;
    text-decoration: none;
}

#nav ul#menu li.active {
    background-color: black;
}

#nav ul#menu li:hover {
    background-color: rgb(36, 35, 35);
}

#nav img {
    padding-top: 1px;
    padding-bottom: 1px;
    margin-left: 1px;
    margin-right: 1px;
}

.logonav {
    font-size: 28px;
    padding-right: 0px;
    font-weight: bold;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 380px;
    width: 100%;
    position: relative;
  }
  
.banner::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url('../img/fundo2.avif');
    background-size: cover;
    background-position: center;
    z-index: -1;
    opacity: 0.8;
}

#inicio h1 {
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 1140px;
    max-width: 100%;
    margin: auto;
}


[class*= "col-"] {
    float: left; 
    padding-right: 5px;
}

.col-1 {width: 8.33%;}

.col-2 {width: 16.66%;}

.col-3 {width: 25%}

.col-4 {width: 33.33%;}

.col-5 {width: 41.66%;}

.col-6 {width: 50%;}

.col-7 {width: 58.33%;}

.col-8 {width: 66.66%;}

.col-9 {width: 75%;}

.col-10 {width: 83.33%;}

.col-11 {width: 91.66%;}

.col-12 {width: 100%;}

#main h1 {
    font-family: Raleway;
    font-size: 50px;
    text-align: center;
    color: black;
}

/* Carrosels */
.galery {
    width: 100%;
    height: 650px;
    overflow: hidden;
}

.galery .fotos {
    width: 500%;
    animation-name: animacao;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    opacity: 0.3;

}

.galery .fotos img {
    width: 19.9%;
}

@keyframes animacao {
    0% {margin-left: 0; }
    20% {margin-left: 0; }
    25% {margin-left: -100%; }
    45% {margin-left: -100%; }
    50% {margin-left: -200%; }
    70% {margin-left: -200%; }
    75% {margin-left: -300%; }
    95% {margin-left: -300%; }
    100% {margin-left: -400%; }

}

/* Tabela */
*{
    font-family: system-ui;
}
   
table{
    border-collapse: collapse;
    border: 1px solid #ededed;
    tab-size: 200px;
}
   
tbody tr {
    height: 40px;
    border-bottom: 1px solid #ededed;
    background-color: #fbfbfb;
    text-align: center;
}
   
.title {
    background-color: #0a7880;
    height: 30px;
    color: #fff;
    font-size: 26px;
}

.titulo {
    position: relative;
    cursor: pointer;
}

.texto-escondido {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.titulo:hover .texto-escondido {
    display: block;
}

table h4:hover {
    transform: scale(1.04);
}

/* Apoiadores */

.apoiadores {
    display: flex;
    justify-content: space-around;
    padding: 60px;
}

.apoiador {
    width: 200px;
    height: 250px;
    position: relative;
    transition: 0.3s;
}

.apoiador img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    width: 150%;
    height: 100%;
}

.apoiador:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}

.apoiadormeio {
    width: 200px;
    height: 250px;
    position: relative;
    transition: 0.3s;
}

.apoiadormeio img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    width: 190%;
    height: 100%;
}

.apoiadormeio:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}

/* Formulários */

.containerform {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

form {
  overflow: hidden;
}

form fieldset {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
}

form legend {
  font-weight: bold;
  color: #777;
}

/* Campos de Entrada de Texto */
.input-container {
    margin-bottom: 10px;
}

.input-container label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 14px;
}

input[type="text"],
input[type="date"],
input[type="number"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #555;
}

/* Componentes Checkbox e Radio */
.radio-group label {
    display: inline;
    margin-right: 10px;
    font-weight: normal;
  }
  
  .input-check {
      display: inline-block;
      margin-right: 10px;
  }
  
  .input-check input[type="checkbox"] + label {
      display: inline-block;
      font-weight: normal;
  }

  /* Componentes Textarea e Select */
textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical; /* Permite redimensionar verticalmente o textarea */
    height: 120px; /* Altura inicial do textarea */
  }
  
  select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  /* Botões */
button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer; /* Adiciona um cursor de ponteiro */
  }
  
  /* Botão de Limpar */
  button[type="reset"] {
    background-color: #6c757d;
  }
  
  /* Botão de Enviar */
  button:hover {
    background-color: #0056b3;
  }