@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#nav {
    background-color: #131212;
    padding-top: 8px;
    padding-bottom: 8px;
}

#nav ul li {
    list-style: none;
    display: inline;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

#nav ul#menu li {
    float: left;
    border-radius: 8px;
}
#nav ul.right li {
    float: right;
}

.clearfix::before,
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

#nav ul li a {
    padding-left: 10px;
    padding-right: 10px;
    color: rgb(71, 163, 190);;
    text-decoration: none;
}

#nav ul#menu li.active {
    background-color: black;
}

#nav ul#menu li:hover {
    background-color: rgb(36, 35, 35);
}

#nav img {
    padding-top: 1px;
    padding-bottom: 1px;
    margin-left: 1px;
    margin-right: 1px;
}

.banner {
    position: relative;
}
.banner::before {
    content: "";
    background-image: url('../img/fundo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    position: absolute;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.container {
    width: 1140px;
    max-width: 100%;
    margin: auto;
}


[class*= "col-"] {
    float: left; 
    padding-right: 5px;
}

.col-1 {width: 8.33%;}

.col-2 {width: 16.66%;}

.col-3 {width: 25%}

.col-4 {width: 33.33%;}

.col-5 {width: 41.66%;}

.col-6 {width: 50%;}

.col-7 {width: 58.33%;}

.col-8 {width: 66.66%;}

.col-9 {width: 75%;}

.col-10 {width: 83.33%;}

.col-11 {width: 91.66%;}

.col-12 {width: 100%;}

#main h1 {
    font-family: Raleway;
    font-size: 50px;
    text-align: center;
    color: black;
}